/* 定義水波動畫 */
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(74, 163, 142, 0.6);
        /* 初始狀態，沒有水波 */
    }

    50% {
        box-shadow: 0 0 20px 40px rgba(74, 163, 142, 0.3);
        /* 中間狀態，水波擴散 */
    }

    100% {
        box-shadow: 0 0 0 0 rgba(74, 163, 142, 0);
        /* 結束狀態，水波消失 */
    }
}